input:focus-visible {
    outline: 1px solid #227affac !important;
}

input:focus {
    outline: 1px solid #227affac !important;
}

.card {
    border: none !important;
    width: 430px;
    border-radius: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input {
    width: 100%;
}